{% extends 'index.html' %}
{% load static %}
{% block title %} Class Schedules | {{ subject.name }} | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' teacher.teacher_id %}
{% endblock %}
{% block user %}
{{teacher.name}}
{% endblock user %}
{% block subjects %}
{% url 'teacherSubjects' %}
{% endblock subjects %}
{% block allSubjects %}
{% url 'subjects' %}
{% endblock %}
{% block content %}
<div>
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'teacherSubjects' %}">My
               Subjects</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'teacher' subject.code %}">{{ subject.name }}</a></li>
            <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">Class Schedules</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->
   <div class="container d-flex flex-wrap flex-column">
      <!-- subject name starts -->
      <div class="subject-section p-3 m-3 shadow-sm d-flex justify-content-center">
         <div class="fw-bold fs-5 subject_name">{{subject.level}}-{{subject.code}} : {{subject.name}}</div>
      </div>
      <!-- subject name ends -->
      <!-- class schedule section starts -->
      <div class="subject-section p-3 m-3 shadow">
         <div class="d-flex flex-row justify-content-between edit">
            <h4 class="fw-bold" style="color: rgb(10, 10, 48);"><img src="{% static 'images/icon/open-book.png' %}"
               alt="" style="height:1.5rem"><span style="margin-right: 0.6rem;"></span>Class Schedules</h4>
            <a style="height:2rem"
               href="{%  url 'add_schedule' subject.code  %}">
            <img src="{% static 'images/icon/iconBlack.png' %}"
               alt="" height="32">
            </a>
         </div>
         <hr>
         <div class="add-announcement">
            {% for schedule in class_schedules %}
            <a class="text-bold fs-6" href="{%  url 'edit_schedule' schedule.id  %}">

            <!-- individual class schedule starts --> 
            Date: {{ schedule.date }}</a>
            <div class="d-flex justify-content-between align-items-center">
               <p style="margin-bottom:0;" class="text-muted">Day: {{ schedule.day_of_week }}</p>
               <p class="fs-6 text-muted" style="margin-bottom:0;">
                  {{ schedule.start_time }} - {{ schedule.end_time }}
               </p>
            </div>
            <hr>
            <!-- individual class schedule ends -->
            {% empty %}
            <h6 style="text-align:center">No class schedules available</h6>
            {% endfor %}
         </div>
         <div class="text-center fs-6">
            <p>Showing {{ class_schedules.count }} of {{ subject.classschedule_set.count }} {% if class_schedules.count == 1 %}schedule{% else %}schedules{% endif %}</p>
         </div>
      </div>
      <!-- class schedule section ends -->
   </div>
</div>
{% endblock %}
